/*
 * sytle.css
 * ~~~~~~~~~~~~~
 *
 * OpenMDAO stylesheet
 *
 */

@import url("sphinxdoc.css");

/* link colors */
a {
    color: navy;
    text-decoration: none;
}

a:visited {
    color: navy;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: orange;
}

div.sphinxsidebar h4, div.sphinxsidebar h3 {
  background-color: navy;
}

div.sphinxsidebar input{
  border: 1px solid navy;

}

/* hide overflowing content in the sidebar */
div.sphinxsidebarwrapper p.topless {
    overflow: hidden;
}


/*parameter bkgrd*/
table.field-list td, table.field-list th {
  border: 0 !important;
}

/*top links "breadcrumbs"*/
div.related ul li a {
  margin: 0;
  padding: 0 5px 0 5px;
  line-height: 1.75em;
  color: navy;
}

/*a very thin underline of headers*/
h1, h2, h3, h4, h5, h6 {
  color: navy;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

/*in the source docs, the header for "Parameters"*/
th {
  background-color: #BFD1D4;
  /*background-color: #FFFFB0;*/
  /*background-color: #FFFFE0;*/
}

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  font-size: 13px;
  letter-spacing: -0.01em;
  line-height: 150%;
  text-align: center;
  /*in the main page, background-color is the color of the bars down the sides*/
  /*background-color: #FFFFA0;*/
  background-color: #BFD1D4;
  color: black;
  padding: 0;
  border: 1px solid #aaa;
  margin: 0px 80px 0px 80px;
  min-width: 740px;
}

div.viewcode-block:target {
  background-color: #BFD1D4;
  /*background-color: #BFD0F4;*/
  border-top: 1px solid #ac9;
  border-bottom: 1px solid #ac9;
}
